@import 'common.scss';
@import 'mixin.scss';
.wrapper {
    width: 100%;
    height: 100%;
    @include box_flex;
    @include justify(space-between);
    @include direction(column);
    overflow: hidden;
    position: relative;
}

header {
    width: 100%;
    height: pxTorem(170px);
    background: url("../images/2.jpg") no-repeat;
    background-size: 100% 100%!important;
    padding-top: pxTorem(20px);
    .search {
        @include box_flex;
        @include justify(space-between);
        @include align;
        width: 92%;
        height: pxTorem(40px);
        background: #fff;
        border-radius: pxTorem(6px);
        margin: 0 auto;
        span {
            border-right: solid pxTorem(1px) #ccc;
            padding: 0 pxTorem(10px);
            font-size: pxTorem(16px);
            i.iconfont {
                font-size: pxTorem(14px);
                color: #858484;
            }
        }
        .ipt {
            @include flex;
            @include box_flex;
            @include justify(space-between);
            @include align;
            i.iconfont {
                font-size: pxTorem(16px);
                color: #666;
                margin-left: pxTorem(15px);
                margin-right: pxTorem(8px);
            }
            input {
                @include flex;
                font-size: pxTorem(16px);
            }
        }
    }
}

section {
    @include flex;
    width: 100%;
    .container {
        width: 100%;
        height: pxTorem(200px);
        padding: pxTorem(10px) 0;
        .swiper-slide {
            @include box_flex;
            flex-wrap: wrap;
            @include justify(space-around);
            dl {
                width: 20%;
                text-align: center;
                dt {
                    img {
                        width: 70%;
                        height: 70%;
                    }
                }
                dd {
                    color: #9DA0A1;
                    font-size: pxTorem(15px);
                    line-height: pxTorem(30px);
                }
            }
        }
    }
    .news {
        padding: pxTorem(15px) pxTorem(10px);
        @include box_flex;
        box-shadow: 0 0 pxTorem(10px) 0 #ccc;
        p {
            font-size: pxTorem(14px);
            margin-left: pxTorem(18px);
        }
    }
    .list {
        width: 100%;
        height: 100%;
        padding: pxTorem(15px) pxTorem(10px);
        @include box_flex;
        @include justify(space-between);
        @include sizing;
        @include align;
        flex-wrap: wrap;
        .item {
            width: 49%;
            height: pxTorem(80px);
            background: #FAFAFA;
            margin-bottom: pxTorem(10px);
            dl {
                padding: pxTorem(15px) pxTorem(10px);
                @include sizing;
                dd {
                    p:nth-child(1) {
                        font-size: pxTorem(18px);
                    }
                    p:nth-child(2) {
                        font-weight: bolder;
                        font-size: pxTorem(14px);
                        color: #9DA0A2;
                        line-height: pxTorem(30px);
                    }
                }
                @include box_flex;
                @include justify(space-between);
                @include align;
            }
        }
    }
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: pxTorem(50px);
    background: #fff;
    @include box_flex;
    @include align;
    @include justify(space-around);
    dl {
        text-align: center;
        padding-top: pxTorem(8px);
        i.iconfont {
            font-size: pxTorem(20px);
        }
        dd {
            line-height: pxTorem(22px);
        }
    }
    dl.active {
        color: #4DAB6C;
    }
}